version: 2.1

commands:
  install-nox:
    steps:
      - run:
          name: Fingerprint the python installation
          command: |
            python3 tools/fingerprint_python.py | tee ~/fingerprint_python.txt
      - run:
          name: Disable pip version check
          command: |
            echo >> ${BASH_ENV} export PIP_DISABLE_PIP_VERSION_CHECK=1
      - restore_cache:
          key: nox-v1-{{ checksum "~/fingerprint_python.txt" }}
      - run:
          name: Install nox
          command: |
            pip install --user nox
      - save_cache:
          key: nox-v1-{{ checksum "~/fingerprint_python.txt" }}
          paths:
            - ~/.local

executors:
  py37:
    docker:
      - image: cimg/python:3.7

jobs:
  lint:
    executor: py37
    working_directory: ~/shutter
    steps:
      - checkout
      - install-nox
      - restore_cache:
          key: lint-v2-{{ checksum "~/fingerprint_python.txt" }}-{{ checksum "requirements.txt" }}
      - run:
          name: "Run black, flake8 with nox"
          command: |
            nox -s black flake8
      - save_cache:
          key: lint-v2-{{ checksum "~/fingerprint_python.txt" }}-{{ checksum "requirements.txt" }}
          paths:
            - ~/shutter/.nox

  mypy:
    executor: py37
    working_directory: ~/shutter
    steps:
      - checkout
      - install-nox
      - restore_cache:
          key: mypy-v1-{{ checksum "~/fingerprint_python.txt" }}-{{ checksum "requirements.txt" }}
      - run:
          name: "Run mypy with nox"
          command: |
            nox -s mypy
      - save_cache:
          key: mypy-v1-{{ checksum "~/fingerprint_python.txt" }}-{{ checksum "requirements.txt" }}
          paths:
            - ~/shutter/.nox
  pre-commit:
    executor: py37
    working_directory: ~/shutter
    steps:
      - checkout
      - run:
          name: Fingerprint the python installation
          command: |
            python3 tools/fingerprint_python.py | tee ~/fingerprint_python.txt
      - run:
          name: Prepare config
          command: |
            sed -e '/CircleCI stop here/q' .pre-commit-config.yaml >pre-commit-config

      - restore_cache:
          key: pre-commit-cache-v1-{{ checksum "~/fingerprint_python.txt" }}-{{ checksum "pre-commit-config" }}-{{checksum "requirements.txt"}}
      - run:
          name: Install pre-commit
          command: |
            pip install --user -c requirements.txt pre-commit
            pre-commit install-hooks -c pre-commit-config
      - save_cache:
          key: pre-commit-cache-v1-{{ checksum "~/fingerprint_python.txt" }}-{{ checksum "pre-commit-config" }}-{{checksum "requirements.txt"}}
          paths:
            - ~/.cache/pre-commit
            - ~/.local
      - run: pre-commit run  -c pre-commit-config --show-diff-on-failure -a

  prettier:
    executor: py37
    working_directory: ~/shutter
    steps:
      - checkout
      - install-nox
      - restore_cache:
          key: prettier-v1-{{ checksum "~/fingerprint_python.txt" }}-{{ checksum "requirements.txt" }}
      - run:
          name: "Run prettier with nox"
          command: |
            nox -s prettier
      - save_cache:
          key: prettier-v1-{{ checksum "~/fingerprint_python.txt" }}-{{ checksum "requirements.txt" }}
          paths:
            - ~/shutter/.nox

  test-contracts:
    executor: py37
    working_directory: ~/shutter
    steps:
      - checkout
      - install-nox
      - restore_cache:
          keys:
            - test-contracts-v1-{{ checksum "~/fingerprint_python.txt" }}-{{ checksum "requirements.txt" }}
      - run:
          name: "Run tests"
          command: |
            nox -s test_contracts
      - save_cache:
          key: test-contracts-v1-{{ checksum "~/fingerprint_python.txt" }}-{{ checksum "requirements.txt" }}
          paths:
            - ~/shutter/.nox
            - ~/shutter/.mypy_cache

workflows:
  version: 2
  main:
    jobs:
      - lint
      - pre-commit
      - mypy
      - prettier
      - test-contracts
